<div class="col-lg-8 align-self-baseline">
  <h1 class="text-uppercase text-white font-weight-bold">Thanks</h1>

  <p class="text-white-75 font-weight-light mb-5">
  This app makes uses of open source software. We're grateful to the community for all the hard work they put into these projects. 
  </p>

  <ul class="text-white-75">
    <li><a target="_blank" href="https://jquery.com/">JQuery</a></li>
    <li><a target="_blank" href="https://getbootstrap.com/">Bootstrap</a></li>
    <li><a target="_blank" href="http://sammyjs.org/">Sammy.js</a></li>
    <li><a target="_blank" href="https://startbootstrap.com/themes/creative/">Creative Template</a></li>
  </ul>
</div>


